@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
body {
  background-color: #e1e1e1;
}
.cabecalho {
  padding-top: 20px;
}
.cabecalho-imagem {
  display: block;
  margin: 0 auto;
  height: 180px;
}
.principal {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rodape {
  padding-top: 90px;
}
.principal-botao {
  display: block;
  margin: 0 auto;
  background-color: rgba(208, 5, 11, 90%);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 20px;
  font-size: 30px;
  width: 20%;
  cursor: pointer;
}
.principal-botao:hover {
  background-color: rgba(208, 5, 11, 95%);
}

@media (max-width: 1100px) {
  button.principal-botao {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 850px) {
  button.principal-botao {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 680px) {
  button.principal-botao {
    font-size: 11px;
    text-align: center;
  }
}

@media (max-width: 520px) {
  button.principal-botao {
    font-size: 8px;
    text-align: center;
  }
}
