* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
.cabecalho {
  padding: 2% 0 0 2%;
}
.cabecalho-botao {
  background-color: rgba(208, 5, 11, 70%);
  border: none;
  border-radius: 30px;
  padding: 20px;
  width: 100px;
  font-size: 20px;
  cursor: pointer;
}
.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.secao1 {
  border-radius: 20px;
  padding: 4% 0 8% 2.5%;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 15%;
  row-gap: 10%;
  width: 70%;
  background-color: forestgreen;
}
.secao1-div-visor {
  background-color: #c4c4c4;
  border: none;
  padding: 6%;
  text-align: center;
  font-size: 100%;
  width: 132%;
}
.secao1-div2 {
  padding: 10% 0 0 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.secao1-diminuir {
  border: none;
  background-color: rgb(255, 0, 8);
  font-size: 100%;
  width: 30%;
  height: 30px;
  padding: 10%;
  cursor: pointer;
}
.secao1-diminuir:hover {
  background-color: rgb(230, 3, 11);
}
.secao1-aumentar {
  border: none;
  background-color: rgb(0, 255, 21);
  font-size: 20px;
  width: 30%;
  height: 30px;
  padding: 10%;
  cursor: pointer;
}
.secao1-aumentar:hover {
  background-color: rgb(3, 211, 20);
}
.visor2 {
  background-color: #c4c4c4;
  border: none;
  padding: 10px;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 19px;
}
.visor2:focus {
  outline: none;
}
.secao1-div-visor:focus {
  outline: none;
}
.secao2 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#visorfinal {
  background-color: #c4c4c4;
  border: none;
  padding: 10px;
  width: 50%;
  height: 30px;
  text-align: center;
  font-size: 19px;
}
.ultima-div-botao {
  background-color: rgb(3, 211, 20);
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 20px;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  input.ultima-div-botao {
    font-size: 14px;
    text-align: center;
  }
}
